/*
    Modified from: "Twitch Live Chat CSS Template by t-wy"
                    https://github.com/t-wy/Live-Chat-CSS-Templates
    Modifications by Raum Dellamorte
*/

body {
    /* Convenience Variables for basic customization */
    /* Chat message settings */
    --message-color: rgb(0, 192, 173);
    --message-outline-color: rgb(119, 49, 77);
    --message-line-height: 44px;
    --message-font-size: 40px;
    /* --message-pointer points to the start of a chat message. This should work with any unicode characters, untested */
    --message-pointer: "~> ";
    --message-pointer-color: rgb(54, 135, 119);
    /* Highlighted message settings */
    --highlight-color: var(--message-color);
    --highlight-outline-color: rgb(119, 49, 77);
    --highlight-bg-color: rgba(114, 76, 230, 0.80);
    /* Server message settings like "Welcome to the chat room!" line sent by the server */
    --server-message-color: rgb(43, 80, 230);
    --server-message-outline-color: rgb(45, 0, 75);
    --server-message-line-height: 28px;
    --server-message-font-size: 24px;
    /* Notices from Twitch, like 'Redeemed Highlight My Message' */
    --notice-color: rgb(99, 99, 99);
    /* No --username-color: Username font colors are random */
    --username-outline-color: rgb(45,0,75);
    /* Text Shadow Vars. Colors controlled with respective outline vars above. Only modify if you know what you're doing */
    --message-shadow: -2px -2px 0 var(--message-outline-color),-2px -1px 0 var(--message-outline-color),-2px 0px 0 var(--message-outline-color),-2px 1px 0 var(--message-outline-color),-2px 2px 0 var(--message-outline-color),-1px -2px 0 var(--message-outline-color),-1px -1px 0 var(--message-outline-color),-1px 0px 0 var(--message-outline-color),-1px 1px 0 var(--message-outline-color),-1px 2px 0 var(--message-outline-color),0px -2px 0 var(--message-outline-color),0px -1px 0 var(--message-outline-color),0px 0px 0 var(--message-outline-color),0px 1px 0 var(--message-outline-color),0px 2px 0 var(--message-outline-color),1px -2px 0 var(--message-outline-color),1px -1px 0 var(--message-outline-color),1px 0px 0 var(--message-outline-color),1px 1px 0 var(--message-outline-color),1px 2px 0 var(--message-outline-color),2px -2px 0 var(--message-outline-color),2px -1px 0 var(--message-outline-color),2px 0px 0 var(--message-outline-color),2px 1px 0 var(--message-outline-color),2px 2px 0 var(--message-outline-color);
    --highlight-shadow: -2px -2px 0 var(--highlight-outline-color),-2px -1px 0 var(--highlight-outline-color),-2px 0px 0 var(--highlight-outline-color),-2px 1px 0 var(--highlight-outline-color),-2px 2px 0 var(--highlight-outline-color),-1px -2px 0 var(--highlight-outline-color),-1px -1px 0 var(--highlight-outline-color),-1px 0px 0 var(--highlight-outline-color),-1px 1px 0 var(--highlight-outline-color),-1px 2px 0 var(--highlight-outline-color),0px -2px 0 var(--highlight-outline-color),0px -1px 0 var(--highlight-outline-color),0px 0px 0 var(--highlight-outline-color),0px 1px 0 var(--highlight-outline-color),0px 2px 0 var(--highlight-outline-color),1px -2px 0 var(--highlight-outline-color),1px -1px 0 var(--highlight-outline-color),1px 0px 0 var(--highlight-outline-color),1px 1px 0 var(--highlight-outline-color),1px 2px 0 var(--highlight-outline-color),2px -2px 0 var(--highlight-outline-color),2px -1px 0 var(--highlight-outline-color),2px 0px 0 var(--highlight-outline-color),2px 1px 0 var(--highlight-outline-color),2px 2px 0 var(--highlight-outline-color);
    --username-shadow: -2px -2px 0 var(--username-outline-color),-2px -1px 0 var(--username-outline-color),-2px 0px 0 var(--username-outline-color),-2px 1px 0 var(--username-outline-color),-2px 2px 0 var(--username-outline-color),-1px -2px 0 var(--username-outline-color),-1px -1px 0 var(--username-outline-color),-1px 0px 0 var(--username-outline-color),-1px 1px 0 var(--username-outline-color),-1px 2px 0 var(--username-outline-color),0px -2px 0 var(--username-outline-color),0px -1px 0 var(--username-outline-color),0px 0px 0 var(--username-outline-color),0px 1px 0 var(--username-outline-color),0px 2px 0 var(--username-outline-color),1px -2px 0 var(--username-outline-color),1px -1px 0 var(--username-outline-color),1px 0px 0 var(--username-outline-color),1px 1px 0 var(--username-outline-color),1px 2px 0 var(--username-outline-color),2px -2px 0 var(--username-outline-color),2px -1px 0 var(--username-outline-color),2px 0px 0 var(--username-outline-color),2px 1px 0 var(--username-outline-color),2px 2px 0 var(--username-outline-color);
    --server-message-shadow: -2px -2px 0 var(--server-message-outline-color),-2px -1px 0 var(--server-message-outline-color),-2px 0px 0 var(--server-message-outline-color),-2px 1px 0 var(--server-message-outline-color),-2px 2px 0 var(--server-message-outline-color),-1px -2px 0 var(--server-message-outline-color),-1px -1px 0 var(--server-message-outline-color),-1px 0px 0 var(--server-message-outline-color),-1px 1px 0 var(--server-message-outline-color),-1px 2px 0 var(--server-message-outline-color),0px -2px 0 var(--server-message-outline-color),0px -1px 0 var(--server-message-outline-color),0px 0px 0 var(--server-message-outline-color),0px 1px 0 var(--server-message-outline-color),0px 2px 0 var(--server-message-outline-color),1px -2px 0 var(--server-message-outline-color),1px -1px 0 var(--server-message-outline-color),1px 0px 0 var(--server-message-outline-color),1px 1px 0 var(--server-message-outline-color),1px 2px 0 var(--server-message-outline-color),2px -2px 0 var(--server-message-outline-color),2px -1px 0 var(--server-message-outline-color),2px 0px 0 var(--server-message-outline-color),2px 1px 0 var(--server-message-outline-color),2px 2px 0 var(--server-message-outline-color);
    /* End of Convenience Variables */
    background: transparent !important;
}
#root > div {
    background: rgba(50,20,20,0.7) !important; /* Transparency is controlled by the last number with a value between 0.0, transparent, and 1.0, opaque */
    border-radius: 20px; /* To round the corners. (I think, anyway, don't take my word for it.) */
    margin: 20px;
}
* {
    font-family: "Inter","Roobert","Helvetica Neue",Helvetica,Arial,sans-serif;
    /* I plan to try and get a local font working for EXTREME Customization! The enthusiasm is false, but the intention is real. */
}
.chat-room {
    background: transparent !important;
}
.chat-line__status { /* 'Welcome to the Chat Room' and the like */
    line-height: var(--server-message-line-height) !important;
    font-size: var(--server-message-font-size) !important;
    background: rgba(0, 0, 0, 0) !important;
    color: var(--server-message-color) !important;
    text-shadow: var(--server-message-shadow);
}
.user-notice-line > div:first-of-type { /* Notices from Twitch */
    font-size: 18px !important;
    color: var(--notice-color) !important;
}
button[data-a-target="chat-badge"] img { /* The chat badges listed in front of a username */
    height: 24px;
}
.chat-author__display-name { /* The username. We make it a bit smaller than the message text */
    font-size: 26px !important;
    text-shadow: var(--username-shadow);
}
.chat-line__username-container { /* Push chat message to next line under username */
    width: 100%;
}
.chat-line__no-background > span:first-of-type {
    color: rgba(0, 0, 0, 0) !important;
}
.chat-line__no-background > span:first-of-type::after { /* Add a pointer in front of chat message for funsies */
    content: var(--message-pointer);
    line-height: var(--message-line-height) !important;
    font-size: var(--message-font-size) !important;
    color: var(--message-pointer-color) !important;
    text-shadow: var(--username-shadow);
}
span[data-a-target="chat-message-text"] { 
    margin-left: 10px; /* A little breathing room for the message body */
}
span[data-a-target="chat-message-text"] { /* The message text itself */
    line-height: var(--message-line-height) !important;
    font-size: var(--message-font-size) !important;
    background: rgba(0, 0, 0, 0) !important;
    color: var(--message-color) !important;
    text-shadow: var(--message-shadow);
    /* font-weight: bold; */
}
.chat-line__message-body--highlighted { /* If the message is highlighted, ditch the defaults */
    border-color: rgba(0, 0, 0, 0) !important;
    background: rgba(0, 0, 0, 0) !important;
}
.chat-line__message-body--highlighted > span:first-of-type { /* If the message is highlighted, custom highlight */
    line-height: 50px !important;
    padding: 0px 5px 1px 5px !important;
    background: var(--highlight-bg-color) !important;
    color: var(--highlight-color) !important;
    text-shadow: var(--highlight-shadow);
}
.chat-input, .stream-chat-header, .channel-leaderboard, .viewer-card-layer__draggable, .chat-line__reply-icon, .chat-paused-footer, .simplebar-track, .chat-room__content > div:first-of-type {
    /* All the bits and bobs we don't want to see */
    display: none !important;
}
